////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////// colors //////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

color-blue = #4A90E2
color-green = #6AB110
color-gray = #9BA6AF
color-lightgray = #E7EBEF
color-darkgray = #485465
color-white = #FCFCFC
color-red = #BA1C40

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////// indents function ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

indent(n)
    (8*n)px
